<div class="main-container">
	<div class="header">
		<h1>{{ entry.totalBalance }}</h1>
		<p>Banco de Horas</p>

		<br>
		<button mat-flat-button color="primary">
			<mat-icon>add</mat-icon>
			Insert Entrie
		</button>
	</div>

	<div class="content">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let entrie of entry.entries">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ entrie.day | date: 'dd MMM YYYY' }}
					</mat-panel-title>
					<mat-panel-description>
						<div class="panel-description">
							<p>
								{{ entrie.description ? ' - ' + entrie.description : 'Withouth description' }}
							</p>
							<p class="worked-description">
								Day balance: {{ entrie.balance }}
							</p>
						</div>
					</mat-panel-description>
				</mat-expansion-panel-header>

				<div class="panel-details">
					<p *ngFor="let time of entrie.entries">{{ time }}</p>
					<mat-chip>{{ entrie.work }}</mat-chip>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

</div>