.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    width: 100%;
}

.form {
    margin-top: 30px;
}

.entrie-container {
    margin-top: 30px;
}

.entrie-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.entrie-balance {
    color: #0000ff;
}

.btn {
    margin-top: 10px;
}