.container-form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

}

mat-form-field {
    margin: 0px 10px;
}

.field-full-width {
    width: 100%;
}

.mat-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2.5em;
    padding-top: 0;
    /* background-color: red; */
}